<!-- Contact Modal -->
<div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" action="javascript:submitRecipe()" method="POST">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <!--Buffers column on left-->
                    <div class="col-lg-8 m-2">
                        <!-- Recipe Name -->
                        <div class="form-group">
                            <label for="recipe-name-input">Recipe Name</label>
                            <input type="text" class="form-control"  id="recipe-name-input"
                                placeholder="Enter Recipe Name" required>
                        </div>
                        <!-- Recipe Cook Time -->
                        <div class="form-group">
                            <label for="recipe-time-input">Cook Time</label>

                            <input type="number" class="form-control" id="recipe-time-input" 
                                placeholder="Enter Cook Time" required>
                        </div>
                        <!-- Recipe Serving Size -->
                        <div class="form-group">
                            <label for="recipe-servings-input">Servings</label>

                            <input type="number" class="form-control" id="recipe-servings-input" 
                                placeholder="Enter # of servings" required>
                        </div>
                        <!-- Recipe Photo Input -->
                        <div class="form-group">
                            <label for="recipe-photo-input">Image URL</label>

                            <input type="text" class="form-control" id="recipe-photo-input" 
                                placeholder="Please enter a valid URL" required>
                        </div>                        
                        <!-- Recipe Credit Name Input -->
                        <div class="form-group">
                            <label for="recipe-credit-name-input">Credit Name</label>

                            <input type="text" class="form-control" id="recipe-credit-name-input" 
                                placeholder="Please enter the credit source" required>
                        </div>   
                        <!-- Recipe Credit URL Input -->
                        <div class="form-group">
                            <label for="recipe-credit-URL-input">Credit URL</label>

                            <input type="text" class="form-control" id="recipe-credit-URL-input" 
                                placeholder="Please enter the source URL" required>
                        </div>   
                    </div>
                    <hr class="hidden-lg">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <input type="submit" name="submit" id="submit"  value="SUBMIT" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
    </div>
</div>