<!-- Filters -->
<div class="filters-container d-flex">
<div class="filters-container">

  <div class="filter-input-container">
    <label for="filter-text">
      <div class="filter-header">
        <img class="filter-img" src="images/cooking.png" alt="cooking">
        <span class="filter-label">Recipe Name</span>
      </div>
    </label>
    <div class="filter-input-element">
      <input type="text" name="filter-text" id="filter-text" class="filter-input">
    </div>
  </div>

  <button id="filter-update-button" class="action-button">Search</button>
</div><!-- End of Filters -->
</div>
