<!-- Filters -->
<div class="filters-container d-flex">

  <div class="filter-input-container">
    <label for="filter-time">
      <div class="filter-header">
        <img class="filter-img" src="images/cooking-time.png" alt="cooking time">
        <span class="filter-label">Cook Time</span>
      </div>
    </label>
    <div class="filter-input-element">
      <select id="filter-time" class="filter-input" name="filter-time">
        <option selected value="">Any</option>
        <option>< 10 min.</option>
        <option>10 - 30 min.</option>
        <option>30 - 60 min.</option>
        <option>60 - 120 min.</option>
      </select>
    </div>
  </div>

  <div class="filter-input-container">
    <label for="filter-complexity">
      <div class="filter-header">
        <img class="filter-img" src="images/recipes.png" alt="complexity">
        <span class="filter-label">Complexity</span>
      </div>
    </label>
    <div class="filter-input-element">
      <select id="filter-complexity" class="filter-input" name="filter-complexity">
        <option selected value="">Any</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
    </div>
  </div>

  <div class="filter-input-container">
    <fieldset id="filter-appliance" class="filter-fieldset">
      <label for="filter-appliance">
        <div class="filter-header">
          <img class="filter-img" src="images/stove.png" alt="stove">
          <span class="filter-label">Appliances</span>
        </div>
      </label>

      <div class="checkbox-item">
        <input type="checkbox" name="filter-microwave" id="filter-appliance-microwave" value="microwave">
        <label for="filter-appliance-microwave">Microwave</label>
      </div>

      <div class="checkbox-item">
        <input type="checkbox" name="filter-stove" id="filter-appliance-stove" value="stove">
        <label for="filter-appliance-stove">Stove</label>
      </div>

      <div class="checkbox-item">
        <input type="checkbox" name="filter-oven" id="filter-appliance-oven" value="oven">
        <label for="filter-appliance-oven">Oven</label>
      </div>

      <div class="checkbox-item">
        <input type="checkbox" name="filter-appliance" id="filter-appliance-other" value="other">
        <label for="filter-appliance-other">Other</label>
      </div>
    </fieldset>
  </div>

  <button id="filter-update-button" class="action-button">Search</button>
</div><!-- End of Filters -->
