<!-- #region footer -->
<footer class="page-footer font-small special-color-dark">
    <!--Footer Elements-->
    <div class="container">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright: Heather DiRuscio & Ryan Persson</div>
        <!-- Copyright -->
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>

</footer>
<!-- #endregion Footer -->
