<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-md-6 search-recipes-block">
        <div class="col accent">search recipes</div>
        {{> filters}}
      </div>
      <div class="col-md-6 add-your-own-block">
        <div class="col accent">or add your own!</div>
        <div class="col accent">
          <button type="button"  class="add-recipe-button" data-toggle="modal" data-target="#addRecipeModal" title="Click to add your own recipe">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div><!--end of row-->
</div><!--end of jumbotron -->
