<!-- #region Navbar from bootstrap -->
<!-- navbar-dark bg-dark -->
<nav class="zone navbar-header sticky-top navbar-expand-lg navbar-dark bg-dark d-flex">
  <div id="logo"><i class="fas fa-lemon"></i></div>
  <div class="title">
    <a class="navbar-brand" href="#">snacc.io</a>
    <span class="tagline">make food happen.</span>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#exampleModal">
            Contact Us
        </button>
    </div>
</nav>
<!-- #endregion -->
