<div id="pitchBlock">
  <p class="lead">
    <span class="hungryAgain">...hungry, <i>again.</i></span> (Didn't this just happen a few hours ago?)
    <span class="accent-2">snacc.io curates recipes for students & other busy people</span> Quickly search by cook time, recipe difficulty, and even available appliances. We've got the recipes, the rest is up to you.
  </p>
  <p class="whats-cooking">so, what's cooking?</p>
</div><!-- end of pitch-container -->
