html,
body {
  /* background gradient: blue color scheme */
  background: #717171;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #717171, #8c8c8c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #717171, #8c8c8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto 0;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-y: scroll; /*Added to prevent modal from causing background to jump when removing scroll bar */
  overflow-x: hidden !important;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-custom {
  background-color: #ff4444;
}

#logo {
  height: 60px;
  width: 40px;
  border: none;
  font-size: 36px;
  color: rgb(245, 215, 0);
  margin: 15px 0 10px 20px;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 0;
}

.navbar-brand {
  font-family: 'Supermercado One', cursive;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 5px 10px 5px;
  padding: 0;
  line-height: 1;
}

.tagline {
  color: #fff;
  margin: -10px 0 0 8px;
  padding: 0;
}

.navbar-toggler {
  margin: 25px 0 10px 5px;
  height: 50px;
}

.jumbotron-contents {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Pitch container styling */
.pitch-container {
  padding: 0 0 0 30px;
}

.lead-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 20px 0 10px 0;
}

.lead-1 .accent {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  line-height: 24px;
  margin: 0 5px 0 0px;
}

.lead-2 {
  margin: 0 0 40px 0px;
  font-size: 15px;
  width: 400px;
}

.lead-2 .accent-2 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  line-height: 26px;
  margin: 0 5px 0 0;
}

.lil-break { width: 300px; }

.whats-cooking {
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
  font-family: 'Supermercado One', cursive;
  line-height: 1.2;
  margin: 30px 0 0 0;
  text-align: center;
}
/* end of pitch container styling */

.vertical-bar {
  width: 10px;
  height: 350px;
  border-right:1px solid rgba(0,0,0,.1);
}

/* Filters Styling */
.filters-container {
  margin: 0 0 0 50px;
  width: 160px;
}

.filter-input-container {
  margin-top: 15px;
}

.filter-header {
  display: flex;
}

.filter-label {
  font-weight: 700;
  margin: 0 0 0 10px;
  line-height: 2;
}

.filter-img {
  width: 30px;
  height: 30px;
}

.checkbox-item {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.action-button {
  font-size: 14px;
  padding: 5px;
  margin: 20px 0 0 0;
  background-color: #fff;
  border: 1px solid #ababab;
  color: #1d1d1d;
  border-color: #1d1d1d;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.action-button:hover {
  background-color: #007bff;
  border: 1px solid #ababab;
  color: #fff;
}

#filter-update-button {
  width: 80%;
}

/* end of filters styling */

/* drop shadows for navbar and recipe cards */
.zone , .card {
  font-size: 1em;
  transition: all 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.jumbotron {
  height: 55vh;

  /*
  background: rgb(44,114,187);
  background: linear-gradient(90deg, rgb(255, 255, 255) 21%, rgb(191, 191, 191) 100%);
  color: #5f5f5f;
  */
  margin: -50px 0 25px 0;
  padding: 80px 0 20px 0;
  background: rgb(245, 215, 0);
  color: #1d1d1d;
  border-radius: 70px;
  transition: all 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  /* margin: 0; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*ALSO needed to prevent modal:close from causeing background and content to shift. */
.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}

/*Cover and img holder act together to preserve aspect ratio*/
.cover {
  object-fit: cover;
  align-items: stretch;
}

.img-holder {
  width: 100%;
  padding-bottom: 66%;
  overflow: hidden;
  display: flex;
  height: 0;
}



/*Sizes iframe in resume page */
iframe {
  height: 100vh;
  width: 100%;
}

/*Modifies carousel to fill screen on image.html */
.d-block.w-100 {
  height:100vh;
  width:auto;
  object-fit:cover;
  }

.page-footer {
  display: flex;
  color: #9a9da0;
  background-color: #343a40;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  body {
    /*
    background: url(images/background_thin.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto 0;
    */
    /* background gradient: blue color scheme */
    background: #717171;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #717171, #8c8c8c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #717171, #8c8c8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto 0;
  }
  /* Lets jumbotron expand to fit text on small mobile screens. */
  .jumbotron {
    height: auto;
  }

}
