<!-- Author: Ryan Persson (modified from bootstrap basic template.)
File: template_page
Date: 11/2/2019 -->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <!--Added to fix formspree submit error-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">

    <!-- Our custom CSS  Bootstrap overrides to customize colors and background -->
    <!-- heather's note: changing filename from style.css to custom.css to
         adhere to standards re: adding your own custom css on top of bootstrap,
         see: https://uxplanet.org/how-to-customize-bootstrap-b8078a011203 -->
    <link rel="stylesheet" type="text/css" href="custom.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ramaraja|Solway:400,700|Supermercado+One&display=swap" rel="stylesheet">

    <title>snacc.io | make food happen.</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.5.3/handlebars.runtime.js"></script>
    <script src="/recipeTemplate.js"></script>
    <script src="/index.js" charset="utf-8" defer></script>
</head>

<body id="main">
    {{{body}}}

    <!-- #region Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- #endregion -->
</body>

</html>
