html,
body {
  background: #a65a2c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5b5439, #9d7a64);
  background: linear-gradient(to right, #5b5439, #9d7a64);
  margin: auto 0;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-y: scroll; /*Added to prevent modal from causing background to jump when removing scroll bar */
  overflow-x: hidden !important;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-custom {
  background-color: #ff4444;
}

#logo {
  height: 60px;
  width: 40px;
  border: none;
  font-size: 36px;
  color: rgb(245, 215, 0);
  margin: 15px 0 10px 20px;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 0;
}

.navbar-brand {
  font-family: 'Supermercado One', cursive;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin: 10px 5px 10px 5px;
  padding: 0;
  line-height: 1;
}

.tagline {
  color: #fff;
  margin: -10px 0 0 8px;
  padding: 0;
}

.navbar-toggler {
  margin: 25px 0 10px 5px;
  height: 50px;
}

.jumbotron-contents {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Pitch container styling */
#pitchBlock {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  width: 100%;
  background-color: #ddc500;
}

.lead {
  width: 75%;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  padding: 20px 0 0 0;
  margin: 0 auto;
  line-height: 36px;
}

.lead .hungryAgain {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  padding: 10px;
  line-height: 36px;
}

.lead .accent-2 {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  line-height: 36px;
  margin: 0 5px 0 0;
}

.whats-cooking {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  line-height: 36px;
  text-align: center;
  padding: 20px 0 20px 0;
}
/* end of pitch container styling */

/*******************
   FILTERS STYLING
*******************/
.accent {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Solway', cursive;
  line-height: 34px;
  text-align: center;
  padding: 20px 0 20px 0;
  //text-emphasis-style: circle;
  //text-emphasis-position: under right;
}

.filters-container {
  margin: 0 0 0 50px;
}

.filter-input {
  min-width: 150px;
}

.filter-input-element {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.filter-input-container {
  padding: 5px;
  margin: 20px 20px 20px 20px;
}

.filter-header {
  display: flex;
}

.filter-label {
  font-size: 24px;
  font-family: "Solway", serif;
  font-weight: 500;
  margin: 0 0 0 10px;
  line-height: 2;
}

.filter-img {
  width: 30px;
  height: 30px;
}

.checkbox-item {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.action-button {
  font-size: 14px;
  padding: 5px;
  margin: 20px 0 0 0;
  background-color: #fff;
  border: 1px solid #ababab;
  color: #1d1d1d;
  border-color: #1d1d1d;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.action-button:hover {
  background-color: #007bff;
  border: 1px solid #ababab;
  color: #fff;
}

#filter-update-button {
  width: 200px;
}

/* end of filters styling */

/* drop shadows for navbar and recipe cards */
.zone , .card {
  font-size: 1em;
  transition: all 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.search-or-add {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Supermercado One', cursive;
  line-height: 36px;
  text-align: center;
  padding: 20px 0 20px 0;
}

.jumbotron {
  /*height: 55vh;*/
  margin: -15px 0 15px 0;
  padding: 20px 0 20px 0;
  background: #fff;
  color: #1d1d1d;
  /* border-radius: 70px; */
  transition: all 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*****************************
 * ADD RECIPE BUTTON STYLING
 ****************************/
.add-recipe-button {
  height: 280px;
  width: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 46px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  margin: 50px 0 0 0;
  text-align: center;
}

.add-recipe-button:hover {
  border: 1px solid #ababab;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.add-recipe-button:focus {
  outline: none;
}

/*****************************
 * ADD RECIPE MODAL STYLING
 ****************************/

/*
#add-recipe-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3010;
  overflow: scroll;
}
*/

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.recipe-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.recipe-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.recipe-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.recipe-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}
/**** END ADD RECIPE MODAL STYLE ****/

.search-recipes-block {
}

.add-your-own-block {
}

/*ALSO needed to prevent modal:close from causeing background and content to shift. */
.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}

/*Cover and img holder act together to preserve aspect ratio*/
.cover {
  object-fit: cover;
  align-items: stretch;
}

.img-holder {
  width: 100%;
  padding-bottom: 66%;
  overflow: hidden;
  display: flex;
  height: 0;
}

.card-title a {
  color: #000;
}

/*Sizes iframe in resume page */
iframe {
  height: 100vh;
  width: 100%;
}

/*Modifies carousel to fill screen on image.html */
.d-block.w-100 {
  height:100vh;
  width:auto;
  object-fit:cover;
  }

.page-footer {
  display: flex;
  color: #9a9da0;
  background-color: #343a40;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  body {
    /*
    background: url(images/background_thin.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto 0;
    */
    /* background gradient: blue color scheme */
    background: #717171;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #717171, #8c8c8c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #717171, #8c8c8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto 0;
  }
  /* Lets jumbotron expand to fit text on small mobile screens. */
  .jumbotron {
    height: auto;
  }

}
